Proj1/appsettings.Development.json
Proj1/appsettings.json
Proj1/Program.cs
Proj1/Proj1.csproj
Proj1/Properties/launchSettings.json
Proj1/bin/Debug/net9.0/appsettings.Development.json
Proj1/bin/Debug/net9.0/appsettings.json
Proj1/bin/Debug/net9.0/Proj1.deps.json
Proj1/bin/Debug/net9.0/Proj1.dll
Proj1/bin/Debug/net9.0/Proj1.exe
Proj1/bin/Debug/net9.0/Proj1.pdb
Proj1/bin/Debug/net9.0/Proj1.runtimeconfig.json
Proj1/bin/Debug/net9.0/Proj1.staticwebassets.endpoints.json
Proj1/obj/Proj1.csproj.nuget.dgspec.json
Proj1/obj/Proj1.csproj.nuget.g.props
Proj1/obj/Proj1.csproj.nuget.g.targets
Proj1/obj/project.assets.json
Proj1/obj/project.nuget.cache
Proj1/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Proj1/obj/Debug/net9.0/apphost.exe
Proj1/obj/Debug/net9.0/Proj1.AssemblyInfo.cs
Proj1/obj/Debug/net9.0/Proj1.AssemblyInfoInputs.cache
Proj1/obj/Debug/net9.0/Proj1.assets.cache
Proj1/obj/Debug/net9.0/Proj1.csproj.CoreCompileInputs.cache
Proj1/obj/Debug/net9.0/Proj1.csproj.FileListAbsolute.txt
Proj1/obj/Debug/net9.0/Proj1.dll
Proj1/obj/Debug/net9.0/Proj1.GeneratedMSBuildEditorConfig.editorconfig
Proj1/obj/Debug/net9.0/Proj1.genruntimeconfig.cache
Proj1/obj/Debug/net9.0/Proj1.GlobalUsings.g.cs
Proj1/obj/Debug/net9.0/Proj1.MvcApplicationPartsAssemblyInfo.cache
Proj1/obj/Debug/net9.0/Proj1.pdb
Proj1/obj/Debug/net9.0/Proj1.sourcelink.json
Proj1/obj/Debug/net9.0/staticwebassets.build.endpoints.json
Proj1/obj/Debug/net9.0/staticwebassets.build.json
Proj1/obj/Debug/net9.0/ref/Proj1.dll
Proj1/obj/Debug/net9.0/refint/Proj1.dll
Proj1/obj/Debug/net9.0/staticwebassets/msbuild.build.Proj1.props
Proj1/obj/Debug/net9.0/staticwebassets/msbuild.buildMultiTargeting.Proj1.props
Proj1/obj/Debug/net9.0/staticwebassets/msbuild.buildTransitive.Proj1.props
